# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log

# Temporary / Build artifacts
node_modules/
dist/
build/
